body {
  border: 15px solid #61dafb;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  min-height: auto;
  height: 20vh;
  margin-bottom: 15vh;
}

.form h2 {
  font-size: 35px;
}

.form li {
  list-style-type: lower-alpha;
  padding-bottom: 5px;
}

.btn-question {
  margin: 5px;
  padding: 5px 20px;
}


header h1 {
  text-shadow: 4px 2px 0 #61dafb,
              6px 4px 0 #afffff;

  font-size: 56px;
}